<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951452673062-76glhiu65snqd5oic0uttj9n1adr5lvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951452673062-76glhiu65snqd5oic0uttj9n1adr5lvq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951452673062-5i4iapjhb49ngcg5ma7tr1mobf26nfi6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9UBVcWPHSYyZulFIQHsO_hQkcNEKk_a8</string>
	<key>GCM_SENDER_ID</key>
	<string>951452673062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.mrcmongchan</string>
	<key>PROJECT_ID</key>
	<string>mymrc-382104</string>
	<key>STORAGE_BUCKET</key>
	<string>mymrc-382104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951452673062:ios:6c6bdd5ed7d30e74d672e7</string>
	<key>DATABASE_URL</key>
	<string>https://mymrc-382104-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>